.face-snap-card {
  box-sizing: border-box;
  width: 30%;
  margin: 20px auto;
  padding: 10px 30px;
  box-shadow: lightgray 4px 4px 20px;
}
img {
  width: 50%;
}

h2 {
  margin-bottom: 0;
}

p {
  font-weight: 300;
  font-size: 16px;
}

.snapped {
  background-color: rgba(144,238,144,100);
  color: darkgreen;
}

.snapped button {
  box-shadow: black 3px 3px 7px;
  color: darkgreen;

}

.snapped button:active{
  box-shadow: black 0 0 5px;
}




